.create-product-container {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.create-product-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.create-form-label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0.6;
}

.create-form-item {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.create-form-input {
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 15px;
}

.create-form-input:focus {
    outline: none;
}

.product-form-btn {
    width: 200px;
    padding: 10px 20px;
    border: none;
    background-color: teal;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    margin: auto;
}

.product-form-btn:hover {
    background-color: rgb(0, 167, 167);
}