.product-container {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-top-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.product-top-image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid lightgrey;
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.product-top-image img {
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
}

.product-top-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-top-info-item span {
    font-weight: bold;
}

.product-bot-container {
    display: flex;
    margin-top: 40px;
}

.product-bot-form {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    align-items: center;
}

.product-bot-form-pears {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-form-title {
    font-weight: bold;
}

.product-form-input {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
    min-width: 300px;
}


.product-upload-btn {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-weight: bold;
}

.product-upload-btn:hover {
    background-color: rgb(0, 187, 187);
}