.login-container {
    height: 100vh;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.login-form-container h1 {
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.login-form-label {
    font-weight: bold;
}

.login-form-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.login-form-input:focus {
    outline: none;
}

.login-form-btn {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(1, 107, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-form-btn:hover {
    background-color: rgb(1, 143, 1);
}

