.topbar-container {
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(208, 216, 252);
}

.topbar-wrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar-logo {
    font-weight: bold;
    font-size: 30px;
}

.topbar-icon-badge {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.topbar-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.topbar-avater-holder {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.topbar-avater-holder img {
    height: 100%;
}

.topbar-list {
    display: flex;
    gap: 30px;
}

.topbar-list-item {
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
}