.products-list-container {
   margin: auto;
}

.product-list-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-list-info-img {
    display: flex;
    border: 1px solid lightgrey;
    overflow: hidden;
    border-radius: 50%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 55px;
    height: 55px;
}

.product-list-info img {
    object-fit: cover;
    max-height: 50px;
    max-width: 50px;
}

.product-list-btns {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-list-edit {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    min-width: 62px;
}

.product-list-delete {
    background-color: rgb(167, 0, 0);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    min-width: 62px;
}

.product-list-edit:hover {
    background-color: rgb(2, 190, 2);
}

.product-list-delete:hover {
    background-color: rgb(216, 0, 0);
}

.products-list-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.products-list-create-btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-weight: 500;
}

.products-list-create-btn:hover {
    background-color: rgb(0, 187, 187);
}